@font-face {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-display: block;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono.ttf") format("truetype");
}

small {
  font-family: 'JetBrainsMono Nerd Font Mono';
}
